</app-seo-paragraph><app-footertwo _ngcontent-sc160="">
          <footer class="jejakimani-footer-two position-relative">
            <div id="editor-header" class="wrapper-btn-editor"><!----></div>
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-lg-4 mb-4"><a href="/"><img src="assets/img/jejakimani/logo-horizontal.svg"
                      loading="lazy" width="172" height="56" alt="Logo" class="mobile-margin-32"></a>
                  <p style="white-space: pre-wrap;">Intermark Indonesia Ruko 9 &amp; 10, Jalan
                    Lingkar Timur No. 9 BSD Kota Tangerang
                    Selatan, Banten 15310</p><a href="mailto:hotline@jejakimani.com"> hotline@<span
                      class="font-ji">jejakimani</span>.com </a>
                </div>
                <div class="col-sm-3 col-md-2 mb-4">
                  <p class="title-menu large-title-menu-footer"> Layanan </p>
                  <ul>
                    <li><a href="/haji/haji-furoda">Haji Furoda</a></li>
                    <li><a href="/haji/haji-plus">Haji Plus/Haji Khusus</a></li>
                    <li><a href="/umroh/umroh-bersama-ustadz-h-salim-a-fillah">Umroh bersama Ustadz H. Salim
                        A.Fillah</a></li>
                    <li><a href="/umroh/umroh-lebih-hemat">Umroh Lebih Hemat</a></li>
                    <li><a href="/umroh/umroh-lebih-nyaman">Umroh Lebih Nyaman</a></li>
                    <li><a href="/jelajah-dunya">Jelajah Dunya</a></li>
                    <li><a href="/tabungan-umroh">Tabungan Umroh</a></li>
                    <li><a href="/badal-umroh">Badal Umroh</a></li>
                    <li><a href="/badal-haji">Badal Haji</a></li>
                    <li><a href="https://www.tokopedia.com/jiofficials" target="_blank">JI Online Store</a></li>
                  </ul>
                </div>
                <div class="col-sm-3 col-md-2 mb-4">
                  <p class="title-menu large-title-menu-footer"> Company </p>
                  <ul>
                    <li><a href="/tentang-kami">Tentang Kami</a><!----><!----></li>
                    <li><a href="/profil-ustadz">Profil Ustadz Pembimbing</a><!----><!----></li>
                    <li><a href="/artikel">Artikel</a><!----><!----></li>
                    <li><a href="/hubungi-kami">Hubungi Kami</a><!----><!----></li><!----><!---->
                  </ul>
                </div>
                <div class="col-sm-3 col-md-2 mb-4">
                  <p class="title-menu large-title-menu-footer"> Social </p>
                  <ul>
                    <li><!----><a target="_blank" href="https://twitter.com/jejakimani">Twitter</a><!----></li>
                    <li><!----><a target="_blank" href="https://www.youtube.com/@jejakimanitv">Youtube</a><!----></li>
                    <li><!----><a target="_blank" href="https://www.facebook.com/jejakimani">Facebook</a><!----></li>
                    <li><!----><a target="_blank" href="https://www.instagram.com/jejakimani/">Instagram</a><!----></li>
                    <li><!----><a target="_blank" href="https://www.tiktok.com/@jejakimani">Tiktok</a><!----></li>
                    <!----><!---->
                  </ul>
                </div>
                <div class="col-sm-3 col-md-2 mb-4">
                  <p class="title-menu large-title-menu-footer"> Legal </p>
                  <ul>
                    <li><a href="/kebijakan-privasi">Kebijakan &amp; Privasi</a><!----><!----></li><!---->
                    <li style="padding: 12px 0;"><a href="https://siskopatuh.kemenag.go.id/web/login"
                        target="_blank"><img loading="lazy" width="120" height="48" alt="Logo"
                          class="mb-4 logo-siskopatuh" src="assets/img/jejakimani/siskopatuh.png"></a></li><!---->
                  </ul>
                </div><!---->
              </div>
              <div class="copyright mt-3">
                <div class="row">
                  <div class="d-sm-inline-block d-sm-none col-sm-6 text-center mb-4">
                    <div class="social-media"><a target="_blank"
                        href="https://www.youtube.com/channel/UCx095g0HfU_-_czn8n1MLUA"><img height="24" width="24"
                          alt="Youtube" title="Youtube" loading="lazy" fetchpriority="auto" ng-img="true"
                          src="web/social-media/Pvk6rsCtbjGcwZjAxtqmQlPsRZC0aGFN7ijXSTHw.png"></a><!----><!----><!----><a
                        target="_blank" href="https://twitter.com/jejakimani"><img height="24" width="24" alt="X"
                          title="X" loading="lazy" fetchpriority="auto" ng-img="true"
                          src="web/social-media/pCPXCcubdCGKLkgZzpWR8lGQu2BQN1QmQy0uYPml.png"></a><!----><!----><!----><a
                        target="_blank" href="https://www.facebook.com/jejakimani/"><img height="24" width="24"
                          alt="Facebook" title="Facebook" loading="lazy" fetchpriority="auto" ng-img="true"
                          src="web/social-media/8yA9P3eBqMXqKmB8miTGvU07vjjxOtMjm7mmbQZj.png"></a><!----><!----><!----><a
                        target="_blank" href="https://www.tiktok.com/@jejakimani"><img height="24" width="24"
                          alt="Tiktok" title="Tiktok" loading="lazy" fetchpriority="auto" ng-img="true"
                          src="web/social-media/KfLqdpmeVdueI7qxCrvnjujDe7slkXiGdm1QgZDK.png"></a><!----><!----><!----><a
                        target="_blank" href="https://www.instagram.com/jejakimani"><img height="24" width="24"
                          alt="Instagram" title="Instagram" loading="lazy" fetchpriority="auto" ng-img="true"
                          src="web/social-media/a0W58swJ21zuSzduxnQERpZxPFzHYwKpx6vSUzLE.png"></a><!----><!----><!----><!---->
                    </div>
                  </div>
                  <div class="col-sm-6 text-center text-sm-start">
                    <p>© 2025 <span class="font-ji">PT JEJAK IMANI BERKAH BERSAMA</span>. All rights reserved.</p>
                  </div>
                  <div class="d-none d-sm-inline-block col-sm-6 text-end">
                    <div class="social-media"><a target="_blank"
                        href="https://www.youtube.com/channel/UCx095g0HfU_-_czn8n1MLUA"><img height="24" width="24"
                          alt="Youtube" title="Youtube" loading="lazy" fetchpriority="auto" ng-img="true"
                          src="web/social-media/Pvk6rsCtbjGcwZjAxtqmQlPsRZC0aGFN7ijXSTHw.png"></a><!----><!----><!----><a
                        target="_blank" href="https://twitter.com/jejakimani"><img height="24" width="24" alt="X"
                          title="X" loading="lazy" fetchpriority="auto" ng-img="true"
                          src="web/social-media/pCPXCcubdCGKLkgZzpWR8lGQu2BQN1QmQy0uYPml.png"></a><!----><!----><!----><a
                        target="_blank" href="https://www.facebook.com/jejakimani/"><img height="24" width="24"
                          alt="Facebook" title="Facebook" loading="lazy" fetchpriority="auto" ng-img="true"
                          src="web/social-media/8yA9P3eBqMXqKmB8miTGvU07vjjxOtMjm7mmbQZj.png"></a><!----><!----><!----><a
                        target="_blank" href="https://www.tiktok.com/@jejakimani"><img height="24" width="24"
                          alt="Tiktok" title="Tiktok" loading="lazy" fetchpriority="auto" ng-img="true"
                          src="web/social-media/KfLqdpmeVdueI7qxCrvnjujDe7slkXiGdm1QgZDK.png"></a><!----><!----><!----><a
                        target="_blank" href="https://www.instagram.com/jejakimani"><img height="24" width="24"
                          alt="Instagram" title="Instagram" loading="lazy" fetchpriority="auto" ng-img="true"
                          src="web/social-media/a0W58swJ21zuSzduxnQERpZxPFzHYwKpx6vSUzLE.png"></a><!----><!----><!----><!---->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </footer><!---->
        </app-footertwo>