<header _ngcontent-sc157="" class="faded">
            <div _ngcontent-sc157="" class="container">
              <div _ngcontent-sc157="" class="row">
                <div _ngcontent-sc157="" class="col header-inner">
                  <div _ngcontent-sc157="" class="header-logo"><a _ngcontent-sc157="" routerlink="/" href="/"><img
                        _ngcontent-sc157="" height="44" alt="Logo" src="/assets/img/logo/ji-mainlogo-white.png"></a>
                  </div>
                  <nav _ngcontent-sc157="">
                    <ul _ngcontent-sc157="">
                      <li _ngcontent-sc157=""><a _ngcontent-sc157="" href="/haji"> Haji <i _ngcontent-sc157=""
                            class="fas fa-chevron-down"></i><!----></a>
                        <div _ngcontent-sc157="" class="nav-child"><a _ngcontent-sc157="" href="/haji/haji-plus"> Haji
                            Plus / Haji Khusus </a><a _ngcontent-sc157="" href="/haji/haji-furoda"> Haji Furoda
                          </a><!----></div><!---->
                      </li>
                      <li _ngcontent-sc157=""><a _ngcontent-sc157="" href="/umroh"> Umroh <i _ngcontent-sc157=""
                            class="fas fa-chevron-down"></i><!----></a>
                        <div _ngcontent-sc157="" class="nav-child"><a _ngcontent-sc157=""
                            href="/umroh/umroh-bersama-ustadz-h-salim-a-fillah"> Umroh Bersama Ustadz </a><a
                            _ngcontent-sc157="" href="/umroh/umroh-lebih-hemat"> Umroh Lebih Hemat </a><a
                            _ngcontent-sc157="" href="/umroh/umroh-lebih-nyaman"> Umroh Lebih Nyaman </a><!----></div>
                        <!---->
                      </li>
                      <li _ngcontent-sc157=""><a _ngcontent-sc157="" href="/jelajah-dunya"> jelajah dunya
                          <!----></a><!----></li>
                      <li _ngcontent-sc157=""><a _ngcontent-sc157="" href="/tabungan-umroh"> Tabungan Umroh
                          <!----></a><!----></li>
                      <li _ngcontent-sc157=""><a _ngcontent-sc157="" href="/badal-umroh"> Badal Umroh <!----></a><!---->
                      </li>
                      <li _ngcontent-sc157=""><a _ngcontent-sc157="" href="/badal-haji"> Badal Haji <!----></a><!---->
                      </li>
                      <li _ngcontent-sc157=""><a _ngcontent-sc157="" href="/artikel"> Artikel <i _ngcontent-sc157=""
                            class="fas fa-chevron-down"></i><!----></a>
                        <div _ngcontent-sc157="" class="nav-child"><a _ngcontent-sc157=""
                            href="/panduan-haji-dan-umroh"> Panduan Haji Umroh </a><!----></div><!---->
                      </li><!---->
                      <li _ngcontent-sc157="" id="cta-btn-mobile"><button _ngcontent-sc157="" type="button"
                          class="btn btn-ji"> Konsultasi Gratis </button></li>
                    </ul>
                  </nav>
                  <div _ngcontent-sc157="" class="header-btn"><button _ngcontent-sc157="" type="button" id="cta-button"
                      class="btn btn-ji"> Konsultasi Gratis </button><button _ngcontent-sc157="" type="button"
                      id="menu-button"><i _ngcontent-sc157="" class="fas fa-bars"></i></button></div>
                </div>
              </div>
            </div>
          </header>